@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  cursor: url('/pen.svg') 2 2, auto !important;
}

a, button, [role="button"], input[type="button"], input[type="submit"], .cursor-pointer, a * {
  cursor: url('/pen-pointer.svg') 2 2, pointer !important;
}
